@{
    ViewData["Title"] = "Employee's Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to employee's page!</h1>
    <h2>Sorry, I still haven't learned HTML, but I will!</h2>
</div>