@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi!</h1>
    <p>
        I'm sorry, but you won't see here the views,because I didn't have enough time to get my head around the HTML.
    </p>
</div>
